<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="icon" href="https://renewedvision.com/wp-content/uploads/2019/11/ProPresenter-Logo-WhiteSpace.svg">
    <title>Proxplat</title>
</head>
<body>
    <div id="head" class="header">
            <p class="title">Proxplat<img width="100" height="auto" style="margin-left: 50px;" src="https://renewedvision.com/wp-content/uploads/2019/11/ProPresenter-Logo-WhiteSpace.svg"></p>
            
            <p1 class="text">
                Die Plattform für ProPresenter im Browser
            </p1>

            <div class="topnav">
                <a class="active" href="/home">Home</a>
                <a href="/clicker">Clicker</a>
                <a href="/control">Control</a>
                <a href="/live">Live</a>
                <a href="/settings">Settings</a>
                <a href="/presentation">Presentation</a>
                
            </div>
        
        

    </div>
    <br><br>
    <div class="top">
        <label class="text" for="ip">IP:</label>
        <input class="input" type="text" disabled value=<%= ip %> placeholder="192.168.0.123" id="ip">
        <label class="text" for="port">Port:</label>
        <input class="input" type="text" disabled value=<%= port %> placeholder="5000" id="port">
    </div>
    
    <div id="info" class="text">

        

    </div>

    
    
</body>

<script src="./script/main.js">
    
    
</script>
<script>
    var api = "http://192.168.178.47:5000"
    var apicall = "/version"
    var url = api + apicall;

    function test(text) {
        data = JSON.parse(text);

        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                var element = ""
                document.getElementById('info').innerHTML += '<div class="infobox"><p id="'+key+'"><label for="'+key+'">'+key+'</label>: '+data[key]+'</p></div><br>';

            }
        }

        
        
    }

    returnApiResponse(url, test);
    
    
    
</script>


</html>