<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="https://renewedvision.com/wp-content/uploads/2019/11/ProPresenter-Logo-WhiteSpace.svg">
    <title>Proxplat</title>
</head>
<body>
    <div id="head" class="header">
            <p class="title">Proxplat<img width="100" height="auto" style="margin-left: 50px;" src="https://renewedvision.com/wp-content/uploads/2019/11/ProPresenter-Logo-WhiteSpace.svg"></p>
            
            <p1 class="text">
                Die Plattform für ProPresenter im Browser
            </p1>

            <div class="topnav">
                <a class="active" href="/home">Home</a>
                <a href="/clicker">Clicker</a>
                <a href="/stage">StageDisplay</a>
                <a href="/live">Live</a>
                <a href="/changeapi">change API</a>
                <a href="/presentation">Presentation</a>
                
            </div>
        
        

    </div>
    <br><br>
    <div class="top">
        <label class="text" for="ip">IP:</label>
        <input class="input" type="text" disabled value=<%= ip %> placeholder="192.168.0.123" id="ip">
        <label class="text" for="port">Port:</label>
        <input class="input" type="text" disabled value=<%= port %> placeholder="5000" id="port">
    </div>
    

    
    
</body>

<script src="./script/main.js"></script>


</html>