<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="icon" href="https://renewedvision.com/wp-content/uploads/2019/11/ProPresenter-Logo-WhiteSpace.svg">
    <title>Proxplat</title>
</head>
<body>
    <div id="head" class="header">
            <p class="title">Proxplat<img width="100" height="auto" style="margin-left: 50px;" src="https://renewedvision.com/wp-content/uploads/2019/11/ProPresenter-Logo-WhiteSpace.svg"></p>
            
            <p1 class="text">
                Die Plattform für ProPresenter im Browser
            </p1>

            <div class="topnav">
                <a href="/home">Home</a>
                <a href="/clicker">Clicker</a>
                <a href="/control">Control</a>
                <a href="/live">Live</a>
                <a href="/settings">Settings</a>
                <a class="active" href="/presentation">Presentation</a>
                
            </div>
        
        

    </div>
    <br><br>
    <div class="top">
        <label class="text" for="ip">IP:</label>
        <input class="input" type="text" disabled value=<%= ip %> placeholder="192.168.0.123" id="ip">
        <label class="text" for="port">Port:</label>
        <input class="input" type="text" disabled value=<%= port %> placeholder="5000" id="port">
    </div>
    <button onclick="test();">Test</button>
    
    <div style="overflow-x: scroll;">
        <div class="splitleft">
            <ul>
                <li><a>Test1</a></li>
                <li><a>Test2</a></li>
                <li><a>Test3</a></li>
                <li><a>Test4</a></li>
                <li><a>Test5</a></li>

            </ul>
          
        </div>
        <div class="splitright">
            <p class="text centered horizontal">Slides</p>
            <img id="slide_0" onclick="alert(changeslide(0));" class="slideimg" src="assets/loading.png">
            <img id="slide_1" class="slideimg" src="assets/loading.png">
            <img id="slide_2" class="slideimg" src="assets/loading.png">
            <img id="slide_3" class="slideimg" src="assets/loading.png">
            <img id="slide_4" class="slideimg" src="assets/loading.png">
            <img id="slide_5" class="slideimg" src="assets/loading.png">
            <img id="slide_6" class="slideimg" src="assets/loading.png">
            <img id="slide_7" class="slideimg" src="assets/loading.png">
            
        </div>

    </div>

    
</body>

<script src="script/presentation.js"></script>
<script src="script/main.js"></script>


</html>